
@{
    ViewBag.Title = "Gallery";
}

<br />

<br />

<br />

<html>

<head>

    <title>

        Explore Gallery

    </title>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size:50px;
            color:yellow;
            
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="centered">GALLERY</div>

        <img src="~/Content/gym4.jpg" width="1200" height="900" />
</div>
        <br />
        <br />

        <div class="row">

            <div class="col-md-12">

                <div id="mdb-lightbox-ui"></div>

                <div class="mdb-lightbox">
                    <br /><br /><br />
                    <figure class="col-md-4">

                        <a href="~/gym11.jpg">

                            <img alt="picture" src="~/gym11.jpg" class="img-fluid" width="100%" height="100%">

                        </a>

                    </figure>



                    <figure class="col-md-4">

                        <a href="~/gym12.jpg">

                            <img alt="picture" src="~/gym12.jpg" class="img-fluid" width="100%" height="100%" />

                        </a>

                    </figure>



                    <figure class="col-md-4">

                        <a href="~/gym13.jpg">

                            <img alt="picture" src="~/gym13.jpg" class="img-fluid" width="100%" height="100%" />

                        </a>

                    </figure>



                    <figure class="col-md-4">

                        <a href="~/yoga1.jpg">

                            <img alt="picture" src="~/yoga1.jpg" class="img-fluid" width="100%" />

                        </a>

                    </figure>



                    <figure class="col-md-4">

                        <a href="~/yoga2.jpg">

                            <img alt="picture" src="~/yoga2.jpg" class="img-fluid" width="100%" />

                        </a>

                    </figure>



                    <figure class="col-md-4">

                        <a href="~/yoga3.jpg">

                            <img alt="picture" src="~/yoga3.jpg" class="img-fluid" width="100%" />

                        </a>

                    </figure>



                    <figure class="col-md-4">

                        <a href="~/yoga4.jpg">

                            <img alt="picture" src="~/yoga4.jpg" class="img-fluid" width="100%" />

                        </a>

                    </figure>



                    <figure class="col-md-4">

                        <a href="~/yoga5.jpg">

                            <img alt="picture" src="~/yoga5.jpg" class="img-fluid" width="100%" />

                        </a>

                    </figure>



                    <figure class="col-md-4">

                        <a href="~/yoga6.jpg">

                            <img alt="picture" src="~/yoga6.jpg" class="img-fluid" width="100%" />

                        </a>

                    </figure>



                    <figure class="col-md-4">

                        <a href="~/yoga7.jpeg">

                            <img alt="picture" src="~/yoga7.jpg" class="img-fluid" width="100%" />

                        </a>

                    </figure>

                    <figure class="col-md-4">

                        <a href="~/yoga8.jpg">

                            <img alt="picture" src="~/yoga8.jpg" class="img-fluid" width="100%" />

                        </a>

                    </figure>



                </div>



            </div>

        </div>

</body>

</html>

