
@{
    ViewBag.Title = "Membership";
}



<html>
<head>
    <style>

    </style>
</head>
<body>
    <img src="~/Content/gymworkout1.jpg" width="1290px" height="400px" style="position:absolute;left:2px;">
    <div style="position:absolute;top:200px;color:white;left:90px;">
        <h1>IT'S YOUR<br /> NEW START</h1>
        <h4>First month free with memberships <br />only Rs.500 per week</h4>
        <button type="button" class="btn btn-success" style="width:150px;height:40px;">@Html.ActionLink("Join Now", "JoinUs", "Home")</button>


    </div><br />
    <h3 style="position:absolute;top:500px;left:400px;text-align:center;"><strong>THE ONLY GYM THAT OFFERS <br />WORKOUTS IN ALL SHAPES AND SIZES</strong></h3>

    <img src="~/Content/gymdumbles.jpg" / style="position:absolute;top:600px;"> <div style="position:absolute;top:820px;"><h3><strong>ON YOUR OWN</strong></h3></div>
    <img src="~/Content/gymgroup.png" / style="position:absolute;top:620px;left:500px;width:200px;"> <div style="position:absolute;top:820px;left:500px;"><h3><strong>PERSONAL TRAINING</strong></h3></div>


</body>
</html>