
@{
    ViewBag.Title = "MembershipBenifits";
}
<html>
<head>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        .centered {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 50px;
            color: yellow;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="centered"><h2><strong>Member Benifits</strong></h2></div>
        <img src="~/Content/memberbenifit1.jpg" height="200" width="1300" style="position:absolute;left:1px;">
    </div>

    <br /><br /><br /><br /><br /><br />  <br /><br /><br /><br /><br /><br /> <h2 style="text-align:center"><strong>MemberShip Plans</strong></h2>
    <p style="text-align:center">Enjoy the benifits of being of being our member by joining any of these membership plans</p>
    <br /><br /> <img src="~/Content/zumba.jpg" /><br /><br /><div style="position:absolute;left:450px;top:430px"><h3>Zumba Club Membership</h3><p>Get 3 months membership at just Rs.3000.<br />Enjoy getting trained with best zumba trainers at your flexible hours</b></p></div>
    <div style="position:absolute;top:600px;left:200px;"><br /><br /><h3>Yoga Club Membership</h3><p>Get 6 months membership at just Rs.5000.<br />Enjoy getting trained with best yoga trainers at your flexible hours</b></p></div> <img src="~/Content/yoga.jpg" / style="position:absolute;left:800px;"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <img src="~/Content/cardio.jpg" /><br /><br /><br /><div style="position:absolute;left:450px;top:900px"><h3>Cardio Club Membership</h3><p>Get 1 month membership at just Rs.5000.<br />Enjoy getting trained with best cardio trainers at your flexible hours</b></p></div>
    <div style="position:absolute;top:1100px;left:200px;"><br /><br /><h3>WeightLoss  Club Membership</h3><p>Get 6 months membership at just Rs.100000.<br />Enjoy getting trained with best trainers at your flexible hours</b></p></div>   <img src="~/Content/weightloss.jpg" / style="position:absolute;left:800px;"><br />

                                                                                                                                                                                                                                                                                                                             <p>

                                                                                                                                                                                                                                                                                                                                 <br /><br /><br />  <br /><br /><br />  <br /><br /><br />  <br /><br /><br />  <br /><br /><br />  <br /><br /><br />  <br /><br /><br />  <br /><br /><br />v  <br /><br /><br />  <br /><br /><br />










                                                                                                                                                                                                                                                                                                                             </p>
</body>
</html>