@{

    ViewBag.Title = "Nutrition";

}

<h2>Nutrition</h2>

<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>

        Nutrient Rich Foods for Fitness and Healthy living

    </title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <style>

        .container {
            margin-top: 0px;
            margin-left: 10px;
            position: relative;
            text-align: center;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: xx-large;
            font-weight: bolder;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        p {
            color: white;
            font-size: large;
        }

        .c {
            position: absolute;
        }



        .d {
            position: absolute;
            left: 750px;
        }



        .e {
            position: absolute;
            top: 1800px;
        }



        .f {
            position: absolute;
            left: 750px;
            top: 1800px;
        }

        .g {
            position: absolute;
            top: 2350px;
        }

        .h {
            position: absolute;
            left: 750px;
            top: 2350px;
        }

        . /*i {

            position: absolute;

            top: 2750px;

            left:40px;

        }*/
        .vertical-scrollable > .row {
            /* position: absolute;

            top: 120px;

            bottom: 100px;*/
            right: 180px;
            width: 50%;
            overflow-y: scroll;
            float: left;
        }
    </style>

</head>

<body @*style="background-color:black;"*@>

    <div class="container">

        <img src="~/Diet.jpg" alt="fd" width="100%" height="400px" />

        <div class="centered">

            <h1>Changing Your Diet: Choosing Nutrient-rich Foods</h1>

        </div>

    </div>
    <br /><br />
    <p style="font-size:medium;color:gray;">

        You should choose a diet made of nutrient-rich foods. Nutrient-rich (or nutrient-dense) foods are low in sugar, sodium, starches, and bad fats. They contain a lot of vitamins and minerals and few calories. Your body needs vitamins and minerals, known as micronutrients. They nourish your body and help keep you healthy. They can reduce your risk for chronic diseases. Getting them through food ensures your body can absorb them properly

        Try to eat a variety of foods to get different vitamins and minerals. Foods that naturally are nutrient-rich include fruits and vegetables. Lean meats, fish, whole grains, dairy, legumes, nuts, and seeds also are high in nutrients.

    </p>

    <br />

    <div class="container">

        <table class="table table-borderless" style="color:black; background-color:gainsboro;">

            <thead style="background-color:gold;">

                <tr>

                    <th>Nutrient</th>

                    <th style="text-align:center">Food Sources</th>

                </tr>

            </thead>

            <tbody>

                <tr>

                    <td>

                        Calcium

                    </td>

                    <td>

                        Nonfat and low-fat dairy, dairy substitutes, broccoli, dark, leafy greens, and sardines

                    </td>

                </tr>

                <tr>

                    <td>Potassium</td>

                    <td>Bananas, cantaloupe, raisins, nuts, fish, and spinach and other dark greens</td>

                </tr>

                <tr>

                    <td>Fiber</td>

                    <td> Legumes (dried beans and peas), whole-grain foods and brans, seeds, apples, strawberries, carrots, raspberries, and colorful fruit and vegetables</td>

                </tr>

                <tr>

                    <td>Magnesium</td>

                    <td>Spinach, black beans, peas, and almonds</td>

                </tr>

                <tr>

                    <td>Vitamin A</td>

                    <td>Eggs, milk, carrots, sweet potatoes, and cantaloupe</td>

                </tr>

                <tr>

                    <td>Vitamin C</td>

                    <td>Oranges, strawberries, tomatoes, kiwi, broccoli, and red and green bell peppers</td>

                </tr>

                <tr>

                    <td>Vitamin E</td>

                    <td>Avocados, nuts, seeds, whole-grain foods, and spinach and other dark leafy greens</td>

                </tr>

            </tbody>

        </table>
        <br /><br />
        <h2 style="color:gray;">All of the above foods are good choices.</h2>

        <p>Below are suggestions for changing your diet to be more nutrient-rich:</p><br /><hr />

    </div>

    <div class="row">

        <div class="c">

            <div>

                <img src="~/Grains.jpg" width="400px" height="300px" />

            </div>

            <br />
            <h3><strong>Grains</strong> </h3><br />
            <div style="font-size:medium;color:gray;">

<p style="color:gray;text-align:left;position:absolute;left:25px;font-size:medium;"><br /><br /><br /><br /><br /><br /><br />
                Whole-grain foods are low in fat.

                <br />They’re also high in fiber and complex carbohydrates.

                <br />

                </p>

                <ul style="text-align:justify;">

                    <li>Barley, quinoa, buckwheat, whole corn, and cracked wheat.</li>

                    <li>Whole-grain (wheat or rye) crackers, breads,and rolls.</li>

                    <li>Rolled or steel cut oats.</li>

                    <li>Whole-wheat pasta.</li>

                    <li>Whole-wheat tortillas.</li>

                    <li> Brown or wild rice.</li>

                </ul>

            </div>

        </div>

    </div>

    <div>

        <div class="d">

            <div>

                <img src="~/Fruveg.jpg" width="400px;" height="300px;"><br /><br />
                <h3> <strong>Fruits and vegetables</strong></h3>
                <div style="font-size:medium;color:gray;">

                    <br />



                    <ul style="text-align:justify;">

                        <li>Citrus fruits, such as grapes & oranges</li>

                        <li>Apples, plums, papaya, pineapple & bananas.</li>

                        <li>Broccoli, cauliflower, and Brussels sprouts.</li>

                        <li>Dark leafy greens, such as spinach and kale.</li>

                        <li>Peaches, pears, and melons.</li>

                        <li>Tomatoes and avocados.</li>

                    </ul>
                    <br />
                    <p style="color:gray;text-align:left;font-size:medium;">
                        Fruits and vegetables naturally are low in fat.

                        <br />They add nutrients, flavor, and variety to your diet.

                    </p>

                </div>

            </div>

        </div>

    </div>

    <div>

        <div class="e">

            <img src="~/fish.jpg" width="400" height="300" />

            <div style="font-size:medium;color:gray;">

                <br />

               <h3> <strong>Meat, poultry & fish</strong></h3>

                <br />Choose low-fat, lean cuts of meat.

                <br />Look for the words “round,” “loin,” or “leg” in their names.

                <br />Trim outside fat before cooking.

                <br />Trim any inside, separable fat before eating.

            </div>

        </div>

    </div>

    <div>

        <div class="f" ;>

            <div>

                <img src="~/dairy.jpg" width="400px;" height="300px;" />

                <div style="font-size:medium;color:gray;">

                    <br />

                   <h3> <strong>Dairy and dairy substitutes</strong></h3>

                    <br />Choose skim milk, low-fat milk, or enriched milk substitutes.

                    <br />Try replacing cream with evaporated skim milk.

                    <br />Choose low-fat/fat-free cheeses & plain nonfat yogurt.

                </div>

            </div>

        </div>

    </div>

    <div>

        <div class="g">

            <img src="~/beans.jpg" width="400px;" height="300px;" />

            <div style="font-size: medium; color: gray;">

                <br />

                <h3><strong>Beans and legumes</strong></h3>

                <br />These are fantastic sources of fiber, protein and micronutrients.

            </div>

        </div>

    </div>

    <div>

        <div class="h" ;>

            <div>
               

                <img src="~/nuts.jpg" width="400px;" height="300px;" />

                <div style="font-size:medium;color:gray;">

                    <br />

                    <h3><strong>Nuts and seeds</strong></h3>

                    <br />These are one of the best fat sources available and also contain important micronutrients.

                </div>

            </div>

        </div>

    </div>

    @*<div>

            <div class="i">

                <img src="~/beverages.jpg" width="400" height="300" />

                <div style="font-size:large;color:white;">

                    <br />

                    <strong>Beverages </strong>

                    <br />Water should make up the majority of your fluid intake, along with drinks like Orange juice, Apple juice, Watermelon juice, Coconut water, coffee and tea.

                </div>

            </div>

        </div>*@

   
    @*<div style="position:absolute;top:2800px;width:100%">
        <hr /><br />
            <h3 style="color:green; text-align:justify;">Bottom Line:</h3>

            <p style="color:white; text-align:justify;">Base your diet on these healthy whole foods and ingredients. They will provide all the nutrients your body needs.</p>

       </div>

    <br />

    <div class="container" style="position:absolute; top:3050px; color:white;">

        <h2 style="color:white;">Foods to Avoid Most of the Time:</h2>

        <p style="color:white;">No food needs to be eliminated forever, but some foods should be limited or saved for special occasions.</p>

        <ul style="text-align:justify">

            <li><b>Sugar-based products : </b>Foods high in sugar, especially sugary drinks, are linked to obesity and type 2 diabetes.</li>

            <li><b>Trans fats : </b>Also known as partially hydrogenated fats, trans fats have been linked to serious diseases, such as heart disease.</li>

            <li><b>Refined carbs : </b>Foods that are high in refined carbs, such as white bread, are linked to overeating, obesity and metabolic disease.</li>

            <li><b>Vegetable oils : </b>While many people believe these are healthy, vegetable oils can disrupt your body’s omega 6-to-3 balance, which may cause problems.</li>

            <li><b>Processed low-fat products : </b>Often disguised as healthy alternatives, low-fat products usually contain a lot of sugar to make them taste better.</li>

        </ul>

    </div>*@

    @*<div class="container" style="position:absolute; top:3300px;">

        <div class="jumbotron">

            <h1 style="color:red; text-align:justify;">Bottom Line:</h1>

            <p style="color:black; text-align:justify;">While no food is strictly off limits, overeating certain foods can increase disease risk and lead to weight gain.</p>

        </div>*@

    </div>

</body>

</html>

